body{
    background: linear-gradient(to bottom, #FFFFFF, #F0F1FF);
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
    overflow-x: hidden;
    color:#13183F;
    width:100vw;
}
main{
    padding:0.521vw 3vw 1.563vw 3vw;
}
.nav{
    display:flex;
    justify-content:space-between;
    padding:10px 3vw 30px 3vw;

}
.nav>img{
    height: 1.5em;
}
button{
    border-radius: 28px;
    text-align:center;
    height:3em;
    width:10em;
    font-weight:500;
    font-size:18px;
    border:none;
    
}
.black{
    background: #13183F;
    border-color:#13183F;
    color: white;
}
.first-section{
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    overflow-x: hidden;
}
.main-topic{
    font-size: 56px;
    line-height: 71px;
}
.extra-bold{
    
    font-weight: 800;
}
.sub-topic{
    font-weight:500;
    font-size:18px;
    color:#83869A;
    line-height: 28px;
}
.main-text,.main-picture{
    width:100%;
    height:auto;
    
    
}
.main-picture{
    max-width:991.3px;
    max-height: 936.92px;
    min-width:327px;
    min-height:301px;
    margin:auto;
}
.main-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    min-width: 343px;
    max-width:457px;

    
}
picture>img{
    width:100%;
   height:100%;
   object-fit: cover;
   position:relative;
   
    padding:0;

    
}
.main-picture{
    width:100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height:auto;
    min-width: 343px;
    left:10vw;
    top:-5vw;
}

.container{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    margin:0;
    flex-wrap:wrap;
}
.card{
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    height:16.771vw;
    max-height:322px;
    
    min-height: 259px;
    width:29%;
    min-width: 343px;
    background-color: white;
    padding:0 20px 5px 20px;
    margin-top: 40px;
    border-radius: 15px;
    
}
.pink{
    background-image: linear-gradient(to bottom, rgb(240, 42, 166), rgb(255, 111, 72));
    color:white;
    border:none;
}
.card>img{
    display:block;
    position:relative;
    top:-20px;
    margin-left: 20px;
}
.blue{
    background-image: linear-gradient(to bottom, rgb(72, 81, 255), rgb(240, 42, 166));
    color:white;
    border:none;
}
.card-head{
    font-size:24px;
    margin-left: 20px;
}
.card-checkout{
    font-size:32px;
}
.bold{
    font-weight:700;
}
.card >p{
    font-size:18px;
    font-weight:500;
    line-height: 28px;
    margin-left: 20px;
}


a{
    text-decoration:none;
    color:#F74780;
    font-size:16px;
    line-height: 28px;
    font-weight:700;
    margin-left: 20px;
}
@media only screen and (max-width: 768px) {
    .main-topic{
        font-size: 40px;
        line-height: 51px;
    }
    .card{
        min-width:240px;
        min-height:300px;
    }
    .main-picture{
        left:10vw;
        top:-5vw;
        position:relative;
    }

}
@media only screen and (max-width:595px) {
    
    .first-section{
        flex-wrap:wrap;
    }
    .card-checkout{
        font-size:32px; 
        height:auto;
        min-height: unset;
    }
    .main-picture{
        left:0;
        top:0;
        position:relative;
    }

  }
  .main-text button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  }
  header>button:hover{
    background: #666CA3;
  }

  footer>button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  }
  